# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# Java
*.class

# Tomcat
Servers/

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db